@tailwind base;

@tailwind components;

@tailwind utilities;

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(60deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(60deg);
  }
}

@keyframes spin {
  0%, 40% {
    transform: rotate(0deg);
  }

  60%, 100% {
    transform: rotate(60deg);
  }
}